@model List<ResturantSystem.Models.Category>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="text-right">
    <a href="@Url.Action("Index","Category")" type="button" class="btn btn-primary">+ Add Category</a>
</div>

<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">View Category</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">

                    <tr>

                        <th>Category</th>
                        <th>Action</th>

                    </tr>

                    @foreach (var data in Model)
                    {
                        <tr>
                            <td>@(data.Id)  </td>
                            <td>@(data.FoodCategory)  </td>
                            <td>@(data.Action)  </td>


                            @*,name=data.name*@
                            <td><a href="@Url.Action("Edit", new {Id=data.Id})">Edit</a></td>
                            <td><a href="@Url.Action("Delete", new {Id=data.Id})">Delete</a></td>

                        </tr>
                    }
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
