@model List<ResturantSystem.Models.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sn = 0;

}
<style>
    .background {
        background-color: white;
    }

    .card-header {
        background-color: steelblue;
        color: white;
    }
</style>

<div class="background">


    <div class="text-right">
        <a href="@Url.Action("Create","Category")" type="button" class="btn btn-primary mt-4 mr-4"> +  Add Category</a>
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card mt-4">
                <div class="card-header">
                    <h4 class="card-title ">Category List</h4>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">

                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">

                        <tr>
                            <th>SN</th>
                            <th>Category</th>
                            <th>Action</th>

                        </tr>

                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@(++sn)</td>
                                <td>@(data.FoodCategory)  </td>
                                <td>
                                    <a href="@Url.Action("Edit", new {Id=data.Id})"><span class="fas fa-pencil"></span></a>
                                    <a type="button" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal_@data.Id"><span class="fas fa-trash ml-3 text-red"></span></a>
                                    <div class="modal fade" id="exampleModal_@data.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you want to Delete ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    
                                                    <a type="button" href="@Url.Action("Deletedata", new {Id=data.Id })" class="btn btn-danger">Confirm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>


                            </tr>

                        }
                    </table>
                
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- Button trigger modal -->
   


    <!-- /.row -->
</div>