@model List<ResturantSystem.Models.ProductTable>

<!-- Start slides -->
<div id="slides" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Content/resturant/images/slider-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Yamifood Restaurant</strong></h1>
                        <p class="m-b-40">
                            See how your users experience your website in realtime or view  <br>
                            trends to see any changes in performance over time.
                        </p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="@Url.Action("Reservation","Reservation")">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/resturant/images/slider-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Yamifood Restaurant</strong></h1>
                        <p class="m-b-40">
                            See how your users experience your website in realtime or view  <br>
                            trends to see any changes in performance over time.
                        </p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="@Url.Action("Reservation","Reservation")">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/resturant/images/slider-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Yamifood Restaurant</strong></h1>
                        <p class="m-b-40">
                            See how your users experience your website in realtime or view  <br>
                            trends to see any changes in performance over time.
                        </p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="@Url.Action("Reservation","Reservation")">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End slides -->
<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/Content/resturant/images/about-img.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Welcome To <span>Yamifood Restaurant</span></h1>
                    <h4>Little Story</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor suscipit feugiat. Ut at pellentesque ante, sed convallis arcu. Nullam facilisis, eros in eleifend luctus, odio ante sodales augue, eget lacinia lectus erat et sem. </p>
                    <p>Sed semper orci sit amet porta placerat. Etiam quis finibus eros. Sed aliquam metus lorem, a pellentesque tellus pretium a. Nulla placerat elit in justo vestibulum, et maximus sem pulvinar.</p>
                    <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-left">
                <p class="lead ">
                    " If you're not the one cooking, stay out of the way and compliment the chef. "
                </p>
                <span class="lead">Michael Strahan</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->
<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Special Menu</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        @foreach (var data in ViewBag.Category)
                        {
                            <button class="active" data-filter=".@data.Value">@data.Text</button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            @foreach (var data in Model)
            {
                <div class="col-lg-4 col-md-6 special-grid @data.FoodCategory">
                    <div class="gallery-single fix">
                        <input type="text" value="@data.Id" hidden />
                        <img src="@(data.ProductImage!=null?Url.Content(data.ProductImage):"")" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h4>@data.ProductName</h4>
                            <p>@data.ProductDetail</p>
                            <h5>Rs.@data.ProductPrice</h5>
                            <span style="color:white;font-size:20px">Rs.@data.ProductPrice</span>
                            <a href="@Url.Action("Store","AddToCart",new {data.Id})"><span class="fa fa-shopping-cart" style="color:black;font-size:30px;margin-left:230px"></span></a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- End Menu -->
<!-- Start Gallery -->
<div class="gallery-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Gallery</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/resturant/images/gallery-img-01.jpg">
                        <img class="img-fluid" src="~/Content/resturant/images/gallery-img-01.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/resturant/images/gallery-img-02.jpg">
                        <img class="img-fluid" src="~/Content/resturant/images/gallery-img-02.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/resturant/images/gallery-img-03.jpg">
                        <img class="img-fluid" src="~/Content/resturant/images/gallery-img-03.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/resturant/images/gallery-img-04.jpg">
                        <img class="img-fluid" src="~/Content/resturant/images/gallery-img-05.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/resturant/images/gallery-img-05.jpg">
                        <img class="img-fluid" src="~/Content/resturant/images/gallery-img-05.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/resturant/images/gallery-img-06.jpg">
                        <img class="img-fluid" src="~/Content/resturant/images/gallery-img-06.jpg" alt="Gallery Images">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
<!-- Start Customer Reviews -->
<!-- End Customer Reviews -->
<!-- Start Contact info -->
<div class="contact-imfo-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>Phone</h4>
                    <p class="lead">
                        +01 123-456-4590
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">
                        yourmail@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="overflow-hidden">
                    <h4>Location</h4>
                    <p class="lead">
                        800, Lorem Street, US
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact info -->